In [ ]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import seaborn as sns
import matplotlib.pyplot as plt
import plotly
import plotly.express as px
from matplotlib.pyplot import figure

%matplotlib inline

:

In [ ]:
df = pd.read_csv("/content/IPO.csv", encoding='latin-1')
df.head()

:

In [ ]:
df.info()

:

In [ ]:
df.describe()

:

In [ ]:
f,ax = plt.subplots(figsize=(14,10))
sns.heatmap(df.corr(), annot=True, fmt=".2f", ax=ax)
plt.show()

:

In [ ]:
date = df.Date.str.split('-', expand =True)
df['year'] = date[2]
df['month'] = date[1]
df['day'] = date[0]

df.year = pd.to_numeric(df.year)
df.month = pd.to_numeric(df.month)
df.day = pd.to_numeric(df.day)

:

In [ ]:
df.head()

:

In [ ]:
fig1 = px.pie(df, names='year')
fig1.show()

:

In [ ]:
fig2 = px.pie(df, names='month')
fig2.show()

:

In [ ]:
from wordcloud import WordCloud
wordCloud = WordCloud().generate(' '.join(df.IPO_Name))

plt.figure(figsize=(15,7))
plt.axis('off')
plt.imshow(wordCloud, interpolation='bilinear')
plt.show()

:

In [ ]:
top_gainer = df.groupby('IPO_Name').sum().sort_values('Listing_Gains(%)', ascending=False).head(20)
top_gainer = top_gainer.reset_index()
px.bar(x='IPO_Name', y ="Listing_Gains(%)", data_frame=top_gainer)

:

In [ ]:
x = df[df['IPO_Name'] == 'Sigachi Ind']
x

:

In [ ]:
top_loser = df.groupby('IPO_Name').sum().sort_values('Listing_Gains(%)', ascending=True).head(20)
top_loser = top_loser.reset_index()
px.bar(x='IPO_Name', y ="Listing_Gains(%)", data_frame=top_loser)

:

In [ ]:
x2 = df[df['IPO_Name'] == 'VKS Projects']
x2

:

In [ ]:
current_top_gainers = df.groupby('IPO_Name').sum().sort_values('Current_gains', ascending=False).head(20)
current_top_gainers = current_top_gainers.reset_index()
px.bar(x='IPO_Name', y ="Current_gains", data_frame=current_top_gainers)

:

In [ ]:
x3 = df[df['IPO_Name'] == 'Jubilant Food']
x3

:

In [ ]:
issue_size = df.groupby('IPO_Name').sum().sort_values('Issue_Size(crores)', ascending=False).head(20)
issue_size = issue_size.reset_index()
px.bar(x='IPO_Name', y ="Issue_Size(crores)", data_frame=issue_size)

In [ ]:
x4 = df[df['year'] == 21]
x4

,Date,IPO_Name,Issue_Size(crores),QIB,HNI,RII,Issue_price,Listing_Open,Listing_Close,Listing_Gains(%),CMP,Current_gains,year,month,day
0,26-11-21,Tarsons Product,1030.22,1.06,3.40,2.49,662.0,700.00,840.00,26.89,641.45,-3.10,21,11,26
1,23-11-21,Latent View,622.11,145.48,850.66,119.44,197.0,530.00,488.60,148.02,639.85,224.80,21,11,23
2,18-11-21,Sapphire Foods,2073.00,3.11,2.34,5.25,1180.0,1311.00,1216.05,3.06,"1,048.05",-11.18,21,11,18
3,18-11-21,One 97(Paytm),18915.90,2.79,0.24,1.66,2150.0,1955.00,1564.15,-27.25,"1,655.00",-23.02,21,11,18
4,15-11-21,SJS Enterprises,816.57,1.42,2.32,1.38,542.0,514.00,509.85,-5.93,441.05,-18.63,21,11,15
5,15-11-21,PB Fintech,6273.50,9.83,2.58,1.67,980.0,1444.00,1202.90,22.74,"1,210.50",23.52,21,11,15
6,15-11-21,Sigachi Ind,0.00,42.15,78.82,41.26,163.0,575.00,603.75,270.40,429.35,163.40,21,11,15
7,12-11-21,Fino Payments,1209.00,1.65,0.21,5.92,577.0,548.00,545.25,-5.50,409.90,-28.96,21,11,12
8,10-11-21,FSN E-Co(Nykaa),5375.00,91.18,112.02,12.24,1125.0,2001.00,2206.70,96.15,"2,252.00",100.18,21,11,10
9,11-10-21,ABSL AMC,2768.00,4.10,2.60,1.68,712.0,697.50,699.65,-1.73,585.45,-17.77,21,10,11
10,01-10-21,Paras Defence,181.13,90.48,435.14,61.42,175.0,475.00,498.75,185.00,749.95,328.54,21,10,1
11,24-09-21,Sansera Eng,1282.00,26.47,11.37,3.15,744.0,845.05,818.70,10.04,769.80,3.47,21,9,24
12,14-09-21,AMI Organics,571.96,86.64,154.81,13.36,610.0,902.00,934.55,53.20,"1,008.00",65.25,21,9,14
13,14-09-21,Vijaya Diagnost,1895.04,13.07,1.32,1.09,531.0,542.30,619.30,16.63,585.20,10.21,21,9,14
14,06-09-21,APTUS VALUE,2790.00,32.41,33.91,1.35,353.0,360.00,374.05,5.96,315.55,-10.61,21,9,6
15,24-08-21,CHEMPLAST SANMA,3929.91,2.70,1.03,2.29,541.0,570.00,534.90,-1.13,585.25,8.18,21,8,24
16,23-08-21,Nuvoco Vistas,5089.29,0.10,0.02,0.24,570.0,471.00,531.30,-6.79,518.00,-9.12,21,8,23
17,20-08-21,CarTrade Tech,2998.00,0.55,0.09,0.81,1618.0,1600.00,1500.10,-7.29,911.35,-43.67,21,8,20
18,16-08-21,Windlas Biotech,405.95,24.40,15.73,24.27,460.0,439.00,406.70,-11.59,281.85,-38.73,21,8,16
19,16-08-21,Krsnaa Diagnost,1222.00,49.83,116.30,42.04,954.0,1025.00,990.75,3.85,731.55,-23.32,21,8,16
20,16-08-21,Devyani Int,1858.00,95.27,213.06,39.52,90.0,141.00,123.35,37.06,150.20,66.89,21,8,16
21,16-08-21,Exxaro Tiles,161.09,17.67,5.36,40.10,120.0,126.00,132.25,10.21,147.75,23.13,21,8,16
22,09-08-21,Rolex Rings,732.27,143.58,360.11,24.49,900.0,1249.00,1166.55,29.62,"1,153.00",28.11,21,8,9
23,06-08-21,Glenmark Life,1513.00,0.98,0.87,4.61,720.0,752.00,748.20,3.92,607.00,-15.69,21,8,6
24,29-07-21,Tatva Chintan,500.00,2.55,9.78,13.36,1083.0,2111.80,2310.25,113.32,"2,609.10",140.91,21,7,29
25,23-07-21,Zomato,9375.00,51.79,32.96,7.45,76.0,115.00,125.85,65.59,142.00,86.84,21,7,23
26,19-07-21,G R Infra,963.28,93.18,73.01,4.89,837.0,1700.00,1746.80,108.70,"1,800.00",115.05,21,7,19
27,19-07-21,Clean Science,1546.00,156.37,206.43,9.00,900.0,1784.40,1585.20,76.13,"2,620.30",191.14,21,7,19
28,07-07-21,India Pesticide,800.00,2.64,1.36,4.40,296.0,360.00,335.45,13.33,300.65,1.57,21,7,7
29,05-07-21,Krishna Inst.,2146.00,5.26,1.89,2.90,825.0,1009.00,1096.80,32.95,"1,391.10",68.62,21,7,5
30,28-06-21,Dodla Dairy,521.00,84.88,73.26,11.34,428.0,550.00,609.10,42.31,567.60,32.62,21,6,28
31,24-06-21,Sona BLW,5550.00,1.57,0.22,0.66,291.0,302.40,362.85,24.69,762.95,162.18,21,6,24
32,24-06-21,Shyam Metalics,909.00,62.18,172.51,5.29,306.0,380.00,375.85,22.83,312.30,2.06,21,6,24
33,14-05-21,PowerGrid InvIT,7734.99,0.00,0.00,0.00,100.0,104.00,102.98,2.98,120.05,20.05,21,5,14
34,19-04-21,Macrotech Dev,2500.00,3.05,1.44,0.40,486.0,439.00,463.15,-4.70,"1,434.05",195.07,21,4,19
35,07-04-21,Barbeque Nat,453.60,0.00,0.00,0.00,500.0,492.00,590.40,18.08,"1,489.25",197.85,21,4,7
36,30-03-21,Nazara,582.91,52.82,148.42,34.49,1101.0,1971.00,1576.80,43.22,"2,339.00",112.44,21,3,30
37,26-03-21,Suryoday Small,582.34,2.18,1.31,3.09,305.0,274.75,276.20,-9.44,149.75,-50.90,21,3,26
38,26-03-21,Kalyan Jeweller,1175.00,1.18,0.97,1.47,87.0,73.90,75.30,-13.45,69.80,-19.77,21,3,26
39,25-03-21,Craftsman,823.70,0.56,0.05,1.04,1490.0,1440.00,1433.00,-3.83,"2,289.70",53.67,21,3,25
40,25-03-21,Laxmi Organic,600.00,1.13,0.73,4.41,130.0,173.00,164.60,26.62,430.50,231.15,21,3,25
41,24-03-21,Anupam Rasayan,760.00,30.80,62.06,4.62,555.0,534.70,525.90,-5.24,791.25,42.57,21,3,24
42,19-03-21,Easy Trip,510.00,0.00,2.79,14.48,187.0,182.00,208.30,11.39,502.00,168.45,21,3,19
43,15-03-21,MTAR Tech,596.41,52.01,522.35,12.78,575.0,990.05,1082.25,88.22,"2,320.00",303.48,21,3,15
44,05-03-21,Heranba,60.00,25.98,108.72,4.82,627.0,900.00,812.25,29.55,685.00,9.25,21,3,5
45,26-02-21,Railtel,819.24,22.03,51.40,7.08,94.0,109.00,121.40,29.15,118.75,26.33,21,2,26
46,25-02-21,Nureca,100.00,0.24,17.10,74.29,400.0,634.95,666.65,66.66,"1,531.25",282.81,21,2,25
47,05-02-21,Stove Kraft,412.63,8.02,32.72,26.04,385.0,498.00,445.95,15.83,950.70,146.94,21,2,5
48,03-02-21,Home First,1153.72,52.53,39.00,6.59,518.0,612.15,527.40,1.81,850.00,64.09,21,2,3
49,02-02-21,Indigo Paints,1170.56,96.21,115.76,6.50,1490.0,2607.50,3118.65,109.31,"2,190.75",47.03,21,2,2
50,29-01-21,IRFC,4633.00,0.89,0.52,1.59,26.0,25.00,24.85,-4.42,23.35,-10.19,21,1,29
51,01-01-21,Antony Waste,300.53,0.64,0.28,7.22,315.0,430.00,407.25,29.29,285.65,-9.32,21,1,1